<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
  
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Admin credentials</h4>
        </div>
        <form action="" method="post">
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
              <label>Username</label>
              <div>
                <input type="text" class="form-control" name="username">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label>Password</label>
              <div>
                <input type="password" class="form-control" name="password">
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Login</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </form>
      </div>
  
    </div>
  </div>