<!--
including header content which is common for all pages
-->
<%- include ../layouts/header.ejs %>
 
<% if (messages.error) { %>
    <p style="color:red"><%- messages.error %></p>
<% } %>
 
<% if (messages.success) { %>
    <p style="color:green"><%- messages.success %></p>
<% } %>    
<div class="content">
    <div class="wrap">
        <div id="main" role="main">
                <ul id="tiles">
                        <li onclick="location.href='single-page.html';">
                            <img src="images/img1.jpg" width="282" height="118">
                            <div class="post-info">
                                <div class="post-basic-info">
                                    <h3><a href="#">Animation films</a></h3>
                                    <span><a href="#"><label> </label>Movies</a></span>
                                    <p>Lorem Ipsum is simply dummy text of the printing & typesetting industry.</p>
                                </div>
                                <div class="post-info-rate-share">
                                    <div class="rateit">
                                        <span> </span>
                                    </div>
                                    <div class="post-share">
                                        <span> </span>
                                    </div>
                                    <div class="clear"> </div>
                                </div>
                            </div>
                        </li>
                        <li onclick="location.href='single-page.html';">
                            <img src="images/img2.jpg" width="282" height="344">
                            <div class="post-info">
                                <div class="post-basic-info">
                                    <h3><a href="#">Animation films</a></h3>
                                    <span><a href="#"><label> </label>Movies</a></span>
                                    <p>Lorem Ipsum is simply dummy text of the printing & typesetting industry.</p>
                                </div>
                                <div class="post-info-rate-share">
                                    <div class="rateit">
                                        <span> </span>
                                    </div>
                                    <div class="post-share">
                                        <span> </span>
                                    </div>
                                    <div class="clear"> </div>
                                </div>
                            </div>
                        </li>
                        <li onclick="location.href='single-page.html';">
                            <img src="images/img3.jpg" width="282" height="210">
                            <div class="post-info">
                                <div class="post-basic-info">
                                    <h3><a href="#">Animation films</a></h3>
                                    <span><a href="#"><label> </label>Movies</a></span>
                                    <p>Lorem Ipsum is simply dummy text of the printing & typesetting industry.</p>
                                </div>
                                <div class="post-info-rate-share">
                                    <div class="rateit">
                                        <span> </span>
                                    </div>
                                    <div class="post-share">
                                        <span> </span>
                                    </div>
                                    <div class="clear"> </div>
                                </div>
                            </div>
                        </li>
                        </ul>
        </div>
    </div>
</div>
 
<!--
including footer content which is common for all pages
-->
<%- include ../layouts/footer.ejs %>